body {
    padding: 1rem;
    background: #e6e6e6;
}
.media {
    display: flex;
    align-content: flex-start;
    background: #fff;
    padding: 1rem;
    align-items: center;
}
.media-body {
    flex: 1;
}
.media .media-category {
    color: #a6a6a6;
    margin: 0;

}
.media-cover {
    margin-right: 1rem;
}
.media-cover img {
    border-radius: 10px;
}
.media-title {
    margin: 0 0 .5rem;
}
aside .btn-cta {
    background-color: #eee;
    padding: .4rem 1.6rem;
    border-radius: 15px;
}