@import "partials/variables";
@import "partials/colors";
@import "helpers/mixins";
$ff: 'Roboto', sans-serif;
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {    
    margin: 0;
    font-family: $ff;
    font-weight: 400;
    font-size: 1rem;       
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 414px;
    height: 96vh;    
    margin: 0 auto 5vh auto;    
}

.wrapper > * {
    // grow shrink basis
    flex: 1 1 auto;
}

// turn on scroll for for content
main.content {
    background: #fff;    
    padding: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;    
}

section {
    margin-bottom: 1.4rem;
    .box {
        background: #fff;
        @include border-radius();
        @include box-shadow();
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(0.99);
        }
        header {
            padding: $main-padding $main-padding 0;
        }
        .media {
            padding: $main-padding;
        }
    }
    h1,
    h5 {
        margin: 0;
    }
    h4 {
        color: $lighter-color;
        font-weight: 400;
    }
    p {
        color: $lighter-color;
        font-weight: 300;
        margin: .5rem 0;
    }
    .category {
        text-transform: uppercase;
        font-size: .9rem;
    }
}

// FEATURED
.featured {
    header {
        padding: $main-padding 0;
    }
    .content {
        padding: 10px $main-padding;
        .ft-category {
            font-size: .9rem;
            text-transform: uppercase;
        }
        .ft-title {
            font-size: 1.8rem;
            margin: 0;
        }
    }
    .ft-image {
        position: relative;
        img {
            width: 100%;
            @include border-radius(10px, 10px, 0, 0);
        }
        .btn-play {
            font-size: 1.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: .98; // use transform since image WxH is not known
            transform: translate(-50%, -50%);
            .fa-circle {
                color: #53412e;
            }
            .fa-play {
                color: #d3cfc9;
                font-size: 1.2rem;
            }
        }
    }
}

// Of The Day
section.otd {
    color: #fff;
    .otd-block {
        position: relative;
        .full-img {
            width: 100%;
            @include border-radius();
        }
        .half-img {
            width: 100%;
            @include border-radius(10px, 10px, 0, 0);
        }
        .category,
        .heading,
        .footer {
            position: absolute;
            right: 1rem;
            left: 1rem;
        }
        .category {
            color: #eee;
            top: 1rem;
        }
        .heading {
            top: 3rem;
            font-size: 1.5rem;
            ;
        }
        .heading.bold {
            text-transform: uppercase;
            top: auto;
            bottom: 7rem;
            font-size: 3rem;
            font-weight: 900;
            line-height: .9;
        }
        .footer {
            bottom: 1rem;
            font-size: 90%;
        }
    }
    .box.game {
        background: #F8BA23;
    }
    .box.app {
        background: #443a82;
    }
    .media .media-title {
        font-size: .9rem;
        font-weight: 500;
    }
    .media .media-slogan {
        color: #fff;
        font-weight: 400;
        font-size: .8rem;
    }
    p {
        color: #fff;
    }
}

.date.profile {
    display: flex;
    justify-content: space-between;
    .profile-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
// date header
.date.middle {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

header {
    .heading {
        margin: .5rem 0;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .date-sub {
        color: $lighter-color;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 400;
    }
    .date-heading {
        margin: .3rem 0;
        font-size: 1.6rem;
        font-weight: 700;
    }
}

.media {
    display: flex;
    align-content: flex-start;
    padding: $main-padding 0;
    align-items: center;
    position: relative;
    &:not(:last-child):after {
        content: "";
        position: absolute;
        left: 82px;
        bottom: 0;
        height: 1px;
        width: calc(100% - 98px);
        border-bottom: 1px solid $line-color;
    }
}

.media-body {
    flex: 1;
}

.media-cover {
    margin-right: $main-padding;
    img {
        width: 50px;
        @include border-radius();
    }
}

.media-title {
    margin: 0 1rem .2rem 0;
    font-size: .9rem;
    font-weight: 500;
}

.media .media-slogan {
    color: $lighter-color;
    margin: 0;
    font-size: .8rem;
}

aside {
    text-align: center;
    .btn-price {
        background-color: $btn-color;
        padding: .4rem;
        @include border-radius(15px);
        text-transform: uppercase;
        font-weight: 500;
        color: $accent;
        width: 80px;
        box-sizing: border-box;
    }
    .in-app {
        font-size: .65rem;
        color: $lighter-color;
        font-weight: 400;
    }
    .cloud img {
        padding: .4rem 1.4rem;
        width: 30px;
    }
}

.footer-nav {
    display: flex;
    border-top:1px solid #bbb;    
    a {
        flex: 1;
        text-align: center;
        padding: 1rem;
        background: #fff;
        color: rgba(0,0,0,0.5);
        font-size: .8rem;
        &.active {
            color: #3C73FD;
        }
    }
    i {
        display: block;
        padding-bottom: .5rem;
        font-size: 1.2rem;
    }
}

// desktop
@media (min-width: 992px) {
    body {
        background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    }
 }