@import "partials/colors";
@import "helpers/mixins";

$ff: 'Roboto', sans-serif;

body {
    padding: 1.5rem;
    font-family: $ff;
    font-weight: 400;
    font-size: 1rem;
}

section {        
    margin-bottom: 1.4rem;       
    .box {
        background: #fff;
        @include border-radius();
        @include box-shadow();
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(0.99);
        } 
    }
    h1 {
        margin: 0;
    }
    h4 {
        color: $lighter-color;
        font-weight: 400;
    }
    p {
        color: $lighter-color;
        font-weight: 300;
        margin: .5rem 0;
    }
}

.featured {
    header {
        padding: 16px 0;
    }
    .content {
        padding: 10px 16px;
        .ft-title {
            font-size: 1.8rem;
            margin: 0;
        }
    }

    .ft-image {
        position: relative;
        img {
            width: 100%;
            @include border-radius(10px, 10px, 0, 0);
        }
        .btn-play {
            font-size: 1.5rem;            
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: .98;
            // use transform since image WxH is not known
            transform: translate(-50%, -50%);
            .fa-circle {
                color: #53412e;
            }
            .fa-play {
                color: #d3cfc9;
                font-size: 1.2rem;                
            }
        }
    }
}

// Of The Day
section.otd {
    color: #fff;
    .otd-image {
        position: relative;
        img {
            width: 100%;
            @include border-radius();
        }
        .category,
        .heading,
        .footer {
            position: absolute;
            right: 1rem;
            left: 1rem;        
        }
        .category {
            color: #eee;
            top: 1rem;            
        }
        .heading {
            top: 3rem;
            font-size: 1.5rem;;      
        }
        .footer {
            bottom: 1rem;
            font-size: 90%;
        }
    } 
}       

.simulation .box {
    padding: 16px;
}

section .category {
    text-transform: uppercase;
    font-size: .9rem;
}

header {   
    .heading {
        margin: .5rem 0;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .date {
        color: $lighter-color;
        font-size: .6em;
        text-transform: uppercase;
        font-size: .8rem;
    }
    .heading-today {
        margin: .5rem 0;
        font-weight: 700;
    }
}

.media {
    display: flex;
    align-content: flex-start;
    padding: 16px 0;
    align-items: center;
    position: relative;
    &:not(:last-child):after {
        content: "";
        position: absolute;
        left: 82px;
        bottom: 0;
        height: 1px;
        width: calc(100% - 98px);
        border-bottom: 1px solid $line-color;
    }
}
.media-body {
    flex: 1;
}
.media-cover {
    margin-right: 16px;
    img {
        width: 50px;
        @include border-radius();
    }
}
.media-title {
    margin: 0 1rem .2rem 0;
    font-size: .9rem;
    font-weight: 500;
}
.media .media-slogan {
    color: $lighter-color;
    margin: 0;
    font-size: .8rem;
}
aside {
    text-align: center;
    .btn-price {
        background-color: $btn-color;
        padding: .4rem;
        @include border-radius(15px);
        text-transform: uppercase;
        font-weight: 500;
        color: $accent;
        width: 80px;
        box-sizing: border-box;
    }
    .in-app {
        font-size: .65rem;
        color: $lighter-color;
        font-weight: 400;
    }
    .cloud img {
        padding: .4rem 1.4rem;
        width: 30px;
    }
}